<html>
<head>
<title>favicon</title>
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
<link rel="stylesheet" href="http://127.0.0.1/static/dist/css/zui.min.css">

<!-- ZUI Javascript 依赖 jQuery -->
<script src="http://127.0.0.1/static/dist/lib/jquery/jquery.js"></script>
<!-- ZUI 标准版压缩后的 JavaScript 文件 -->
<script src="http://127.0.0.1/static/dist/js/zui.min.js"></script>
</head>
<body>
    
    请输入你要查询的参数：
            
            
    <br>
    <br>
    输入示例：https://你的网址/favicon.ico
    <form method='post' action=''>
        <div class="has-warning">
            <input class="form-control" type="text" name="faviconUrl" placeholder="输入url">
          </div>
        <input type="submit" value="提交">
    </form>
</body>

</html>